---
layout: default
title: Blog
---

<h2>{{page.title}}</h2>
<table>
  {% for post in site.posts %}
    {% if post.version == 2 %}
    {% else %}
    <tr>
        <td style="max-width:35em"><a href="{{ post.url }}">{{ post.title }}</a></td>
        <td>{{ post.lang }}</td>
        <td>{{ post.date | date_to_string}}</td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
