* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.03em;
}

body {
    font-family: serif;
    padding: 20px;
    background-color: #fcfcfc;
    max-width: 50em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 4px;
}

h1::before {content: '# '; }
h2::before {content: '## '; }
h3::before {content: '### '; }
h4::before {content: '#### '; }
h5::before {content: '##### '; }
h6::before {content: '###### '; }


p, ul, table {
    margin-bottom: 15px;
}

td {
    padding-right: 15px;
}

th {
    padding-right: 15px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li::before {
    content: '* ';
}

ol li {
    margin-left: 25px;
}

/*li, p, table {
    margin-left: 20px;
}*/

hr {
    border: none;
    border-top: solid 1px;
    color: black;
    margin-bottom: 15px;
}

hr.footer {
    margin: 30px 0 10px 0;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.menu {
    margin: 2px;
}

.menu a {
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
}

h1 span {
    font-size: 0.8em;
}

pre {
    border: solid 1px;
    padding: 7px;
    margin-bottom: 15px;
    overflow-x: auto;
}

code {
    border: solid 1px;
    padding: 1px 2px;
}

pre code {
    border: none;
    padding: 0;
}

table tr {
    vertical-align: top;
}

blockquote {
    padding-left: 20px;
    border-left: solid 1px;
}


h1 {font-size: 1.4em;}
h2 {font-size: 1.30em;}
h3 {font-size: 1.30em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.2em;}

