---
layout: default
title: Running
---

<h2>{{page.title}}</h2>

<table>
    <tr>
        <th>date</th>
        <th>time</th>
        <th>distance</th>
        <th>average speed</th>
        <th>map</th>
    </tr>
    <tr>
        <td>30. 12. 2013</td>
        <td>58:28</td>
        <td>7.76 km</td>
        <td>7.61 km/h</td>
        <td><a href="https://docs.google.com/file/d/0B118dmY8q6kFNGdVZmZVY0VLZ2M/edit?usp=drivesdk">map</a></td>
    </tr>
    <tr>
        <td>29. 12. 2013</td>
        <td>1 h</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
</table>
