<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>{% if page.title %}{{page.title}} | {% endif %}Ondrej Sika</title>
        <link rel="shortcut icon" type="image/png"  href="/favicon.png" />
        <meta name="author" content="Ondrej Sika">
        <link rel="stylesheet" type="text/css" href="/static/src/main2.css">
        <link rel="stylesheet" type="text/css" href="/static/src/syntax.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{content}}
        <script type="text/javascript" src="/static/src/main.js"></script>
    </body>
</html>
