---
layout: base
---

{% if page.noheader %}
{% else %}
<h1>Ondrej Sika</h1>
{% endif %}
{{content}}
{% if page.nofooter %}
{% else %}
<hr class="footer">
<p class="footer"><a href="/site-index.html">index</a> <a href="/">home</a> | since 2012 <b>Ondrej Sika</b> &lt;<a href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a>&gt;</p>
{% endif %}

